.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;

    .form-container, table {
        background: #f7f7f7;
        width: 80%;
    }


    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;

            .form-group {
                width: 80%;
                margin: 12px 0;

                label {
                    display: inline-block;
                    font-weight: 700;
                }
                
                input, textarea {
                    width: 100%;
                }

                input {
                    height: 30px;
                }
            }

            button {
                background: rgb(34, 145, 34);
                color: #fff;
                padding: 5px 10px;
                border: none;
                outline: none;
            }
        }
    }
    
    table {
        text-align: center;
        padding-top: 40px;

        thead {
            box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
        }
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}