<mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Material UI Hands-On</span>
    <span class="spacer"></span>
    <button routerLink="" mat-button>Home</button>
    <button [matMenuTriggerFor]="lvl1master" mat-button>Master</button>
    <mat-menu #lvl1master>
        <button [matMenuTriggerFor]="company" mat-menu-item>Company</button>
        <button [matMenuTriggerFor]="customer" mat-menu-item>Customer</button>
        <button [matMenuTriggerFor]="product" mat-menu-item>Product</button>
    </mat-menu>

    <mat-menu #company>
        <button mat-menu-item>Terms</button>
        <button mat-menu-item>Tax</button>
        <button mat-menu-item>Currency</button>
    </mat-menu>

    <mat-menu #customer>
        <button mat-menu-item>Type</button>
        <button mat-menu-item>Tax</button>
    </mat-menu>

    <mat-menu #product>
        <button mat-menu-item>Category</button>
        <button mat-menu-item>Variant</button>
        <button mat-menu-item>UOM</button>
    </mat-menu>
    <button routerLink="form" mat-button>Forms</button>
    <button routerLink="autocomplete" mat-button>Autocomplete</button>
    <button mat-raised-button color="accent">Sign Up</button>
    <button (click)="badgeVisibility()" mat-icon-button>
        <mat-icon matBadge="5" matBadgeColor="accent" matBadgeSize="small" [matBadgeHidden]="badgeVisible" aria-hidden="false">notifications</mat-icon>
    </button>
</mat-toolbar>

<!-- You can use mat-drawer instead of mat-sidenav however fixedInViewport directive won't work as it supported only for mat-sidenav -->
<mat-sidenav-container class="sidenav-container" autosize>
    <!-- mode can be over/push/side, position can be start/end, opened=true/false -->
    <mat-sidenav #drawer
        class="sidenav"
        position="start"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)"
    >
        <mat-nav-list>
            <mat-list-item>
                <button routerLink="card" mat-button><mat-icon>dashboard</mat-icon>Dashboard</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>home</mat-icon>Home</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>settings</mat-icon>Settings</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>help</mat-icon>Help</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>analytics</mat-icon>Analytics</button>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div style="text-align: center;">
            <router-outlet></router-outlet>
        </div>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>

