<!-- https://stackoverflow.com/questions/50228138/cant-bind-to-datasource-since-it-isnt-a-known-property-of-table -->
<!-- 
<table mat-table [dataSource]="dataSource">
    <th mat-header-cell></th>
    <td mat-cell></td>

    <tr mat-header-row></tr>
    <tr mat-row></tr>
</table>
 -->


<mat-card class="data-table">
    <mat-card-header>
        <mat-form-field>
            <mat-label>Filter Table</mat-label>
            <input matInput placeholder="Enter the text" (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <button class="add" mat-raised-button color="primary" (click)="addProduct()">Add Product &#40;&#43;&#41;</button>
    </mat-card-header>

    <mat-card-content>
        <!-- Table -->
        <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z4">
            <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}}</mat-header-cell>
                <!-- Check if the column.id is 'thumbnail' -->
                <mat-cell *matCellDef="let element"> 
                    <!-- If it's 'thumbnail', render an image -->
                    <ng-container *ngIf="column.id === 'thumbnail'; else otherContent">
                        <img [src]="element[column.id]" alt="Thumbnail" class="thumbnail">
                    </ng-container>
                    <!-- If it's not 'thumbnail', render the regular content -->
                    <ng-template #otherContent>
                        {{element[column.id]}}
                    </ng-template>
                </mat-cell>
                <!-- <button (click)="editProduct(column.id)" mat-raised-button color="primary">Edit</button> -->
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </mat-table>
    </mat-card-content>    
    <br>

    <mat-card-footer>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
</mat-card>
