<p style="margin-top: 20px;">Tabs</p>
<div style="margin-bottom: 10px;">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="First">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bFvfqUMjvsA?si=F9DbuCzDAJ7EmUgM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </mat-tab>
        <mat-tab label="Second">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xYjCIe3grGM?si=mHv0i0oEMcgEJMYh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </mat-tab>
        <mat-tab label="Third">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/w8xbZREwHco?si=CZuN8O7BzTDCmVva" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </mat-tab>
    </mat-tab-group>
</div>
<div>
    <mat-tab-group animationDuration="1000ms">
        <mat-tab label="First">Content 1</mat-tab>
        <mat-tab label="Second">Content 2</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
    </mat-tab-group>
</div>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
