<div>
    <h1>Angular Material Cheat Sheet</h1>
    <h2>ng-mat</h2>

    <button style="margin-bottom: 4px;" matBadge="2" matBadgeColor="accent" mat-raised-button color="primary">Welcome</button>
    <br>
    <button style="margin-bottom: 4px;" matBadge="A" matBadgeColor="accent" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="small" matBadgeHidden="false" mat-raised-button color="primary">Welcome</button>
    <br>
    <button style="margin-bottom: 4px;" matBadge="2" matBadgeColor="warn" matBadgeSize="large" mat-raised-button color="primary">Welcome</button>
    <br>
    <mat-icon matBadge="5" matBadgeColor="warn" color="primary" aria-hidden="false">notifications</mat-icon>
</div>
