<div>
    <h1>Angular Material Cheat Sheet</h1>
    <h2>ng-mat</h2>

    <button style="margin-bottom: 4px;" matBadge="2" matBadgeColor="accent" mat-raised-button color="primary">Welcome</button>
    <br>
    <button style="margin-bottom: 4px;" matBadge="A" matBadgeColor="accent" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="small" matBadgeHidden="false" mat-raised-button color="primary">Welcome</button>
    <br>
    <button style="margin-bottom: 4px;" matBadge="2" matBadgeColor="warn" matBadgeSize="large" mat-raised-button color="primary">Welcome</button>
    <br>
    <mat-icon matBadge="5" matBadgeColor="warn" color="primary" aria-hidden="false">notifications</mat-icon>
</div>

<div>
    <mat-card>
        <!-- <mat-card-header>
            <mat-toolbar color="primary">Material UI Components</mat-toolbar>
        </mat-card-header> -->
        <mat-card-content>
            <div routerLink="slider">Slider</div>
            <div routerLink="old-nav">Old Navigation</div>
            <div routerLink="card">Cards</div>
            <div routerLink="autocomplete">Autocomplete</div>
            <div routerLink="form">Forms</div>
            <div routerLink="table">Data Table</div>
            <div routerLink="dynamic-form">Dynamic Forms</div>
        </mat-card-content>
    </mat-card>
</div>
