<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-lg">
	<a class="navbar-brand" href="#">Ngrx-100</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link" routerLinkActive="active" routerLink="/" aria-current="page">Home</a>
				<a class="nav-link" routerLinkActive="active" routerLink="/counter" aria-current="page">Counter</a>
				<a class="nav-link" routerLinkActive="active" routerLink="/products" aria-current="page">Products</a>
				<a class="nav-link" routerLinkActive="active" routerLink="/todos" aria-current="page">Todos</a>
			</div>
		</div>
    </div>
</nav>
